Source: python-click
Section: python
Priority: optional
Maintainer: Pexip AS <packaging@pexip.com>
XSBC-Pexip-Original-Maintainer: Sandro Tosi <morph@debian.org>
XSBC-Pexip-Original-Uploaders: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>,
Build-Depends: debhelper-compat (= 12),
               dh-python,
               python3-all,
               python3-docutils,
               python3-setuptools,
Build-Depends-Indep: python3-colorama,
                     python3-pytest,
                     python3-requests,
Standards-Version: 4.5.0
Vcs-Browser: https://salsa.debian.org/python-team/modules/python-click
Vcs-Git: https://salsa.debian.org/python-team/modules/python-click.git
Homepage: https://github.com/pallets/click
Testsuite: autopkgtest-pkg-python
XS-Pexip-Upstream: http://ftp.debian.org/debian/ bullseye

Package: python3-click
Architecture: all
Depends: python3-colorama,
         ${misc:Depends},
         ${python3:Depends},
Description: Wrapper around optparse for command line utilities - Python 3.x
 Click is a Python package for creating beautiful command line interfaces
 in a composable way with as little code as necessary.  It's the "Command
 Line Interface Creation Kit".  It's highly configurable but comes with
 sensible defaults out of the box.
 .
 It aims to make the process of writing command line tools quick and fun
 while also preventing any frustration caused by the inability to implement
 an intended CLI API.
 .
 This is the Python 3 compatible package.
